* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f46b95;
}

.content {
    margin: 50px auto auto auto;
    width: 500px;
    background-color: #262e5d;
    border-radius: 10px;
}
.content h1 {
    text-align: center;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #f46b95;
}
form {
    width: 80%;
    margin: 0 auto;
}
form > div {
    margin-bottom: 20px;
}
form label {
    display: inline-block;
    width: 150px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.content-button {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
button {
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f46b95;
    color: white;
    border: 0;
}
button:hover {
    cursor: pointer;
}
input {
    padding: 5px;
}