<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    {{{body}}}

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('listProucts', (data) => {
            const tbody = document.querySelector('tbody');
            const tr = document.createElement('tr');
            const tdTitle = document.createElement('td');
            const tdPrice = document.createElement('td');
            const tdUrl = document.createElement('td');
            tdTitle.innerText = data.title;
            tdPrice.innerText = data.price;
            tr.appendChild(tdTitle);
            tr.appendChild(tdPrice);
            
            const img = document.querySelector('img');
            img.setAttribute('src', data.thumbnail);
            tdUrl.appendChild(img);
            
            tr.appendChild(tdUrl);
            tbody.appendChild(tr);
        });

        const form = document.querySelector('.formulario');
        form.addEventListener('submit', (event) => {
            event.preventDefault();
            const title = document.querySelector('#title');
            const price = document.querySelector('#price');
            const thumbnail = document.querySelector('#thumbnail');

            const objProduct = {
                title: title.value,
                price: price.value,
                thumbnail: thumbnail.value
            }

            console.log('objProducts', objProduct);

            fetch('/static/db.json')
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    data.push(objProduct);
                    console.log('data',data);
                    socket.emit('saveProduct', objProduct);
                });

            title.value = '';
            price.value = '';
            thumbnail.value = '';
        })

        fetch('/static/db.json')
            .then(response => response.json())
            .then(dataJson => {
                console.log(dataJson);
                console.log(JSON.stringify(dataJson));
            });

    </script>
</body>
</html>