<section class="login">
    <div class="login__content">
        <div class="login__title">Login de Usuario</div>
        <form action="/api/login" method="post" class="login__form">
            <div class="login__input">
                <label for="login">Ingrese su nombre</label>
                <input type="text" id="login" name="login" />
            </div>
            <div>
                <button type="submit" class="login__button">Enviar</button>
            </div>
        </form>
    </div>
</section>