doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel='stylesheet', href='styles.css')
    body
        div(class='lista-productos')
            h1 Vista de productos
            div(class='content-table')
            if listExists
                table
                    thead
                        tr
                            th Nombre
                            th Precio
                            th Foto
                    tbody
                        each producto in data
                            tr
                                td= producto.title 
                                td= producto.price 
                                td
                                    img(src=producto.thumbnail)
            else
                span No se encontraron productos
