<section class="welcome">
    <div class="welcome__content">
        <h1 class="welcome__title">Bienvenido {{user}}</h1>
        <button class="welcome__title" id="btnDesloguear">Desloguear</button>
    </div>
</section>