<section class="failRegister">
    <div class="failRegister__content">
        <h1 class="failRegister__title">USER ERROR SIGNUP</h1>
        <a href="/register">
            <button class="failRegister__button">VOLVER</button>
        </a>
    </div>
</section>