* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f46b95;
}

.content {
    margin: 50px auto auto auto;
    width: 500px;
    background-color: #262e5d;
    border-radius: 10px;
}
.content h1 {
    text-align: center;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #f46b95;
}
.formulario-registro-chat,
.formulario {
    width: 80%;
    margin: 0 auto;
}

.formulario-registro-chat .input,
.formulario .input {
    display: flex;
    flex-direction: column;
}

.formulario-registro-chat > div,
.formulario > div {
    margin-bottom: 20px;
}
.formulario-registro-chat label,
.formulario label {
    width: 150px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.content-button {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
}

button {
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f46b95;
    color: white;
    border: 0;
}
button:hover {
    cursor: pointer;
}
input {
    padding: 5px;
}

.lista-productos {
    width: 80%;
    margin: 50px auto;
}

.lista-productos h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #262e5d;
}

.content-table span {
    font-size: 24px;
    font-weight: bold;
    background-color: bisque;
    padding: 20px;
    display: block;
    text-align: center;
}

table {
    /* table-layout: fixed; */
    border-collapse: collapse;
    width: 100%;
    border: 1px solid grey;
    background-color: #262e5d;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
table thead th,
table tbody td {
    padding: 12px 15px;
}
table tr {
    border-bottom: 1px solid grey;
}

img {
    width: 30px;
}

.mensajes {
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #e1d6d6;
    padding: 10px;
}

.mensajes h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.mensajes .mensaje-validacion {
    color: red;
}

.block {
    display: inline-block;
}

.none {
    display: none;
}

.mensajes .input-correo {
    margin-bottom: 10px;
    width: 200px;
}

.mensajes .content-mensajes {
    margin-top: 10px;
}

.mensajes .formulario-chat {
    margin-top: 20px;
    margin-left: 0;
}

.formulario-chat input[type="submit"] {
    background-color: aqua;
    padding: 5px 15px;
    border: 1px solid aqua;
}


/*** VIEWS LOGIN ****/
.login {
    margin: 0 auto;
    margin-top: 50px;
    width: 800px;
    background-color: #262e5d;
}

.login__content {
    padding: 20px 10%;
}

.login__title {
    color: #f46b95;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.login__form {
    margin: 0;
    margin-bottom: 20px;
}

.login__input {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.login__input input {
    padding: 5px;
}

.login__input label {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
}

.login__button {
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f46b95;
    color: white;
    border: 0;
}

.login__link-register {
    display: inline-block;
    margin-top: 20px;
}

/**************************/
/* welcome */

.welcome {
    background-color: aquamarine;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.welcome__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/**************************/
/* logout */
.logout {
    margin-top: 10px;
}
.logout__content {
    background-color: aquamarine;
    height: 50px;
    width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logout__content h1 {
    padding-left: 20px;
}

/**************************/
/* register */
.register {
    width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #262e5d;
}

.register__content {
    padding: 20px 10%;
}

.register__title {
    color: #f46b95;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.register__form {
    padding: 10px 0;
}

.register__input-content {
    margin-bottom: 10px;
}

.register__input {
    padding: 5px;
    width: 100%;
}

.register__button-submit,
.register__button-login {
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f46b95;
    color: white;
    border: 0;
}

.register__button-login {
    margin-top: 20px;
}


/**********/
.failLogin,
.failRegister {
    background-color: #262e5d;
    width: 600px;
    height: 300px;
    margin: 10px auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.failLogin__content,
.failRegister__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}

.failLogin__title,
.failRegister__title {
    color: white;
    font-size: 26px;
}

/** Views info */
.info {
    margin-top: 30px;
}
.info table {
    width: 80%;
    margin: 0 auto;
}