<!DOCTYPE html>
<html lang="en">
<%- include("templates/head") %>

<body>
    <h1>Soy productos</h1>
    <br>
    <hr>
    <ul>
        <% data.forEach(function(producto) { %>
            <li><%= producto.name %> - <%= producto.price %></li>
            <% }) %>
    </ul>
</body>

</html>