<section class="failLogin">
    <div class="failLogin__content">
        <h1 class="failLogin__title">USER ERROR LOGIN</h1>
        <a href="/login">
            <button class="failLogin__button">VOLVER</button>
        </a>
    </div>
</section>